<% provide(:title, 'About') %>
<h1>About</h1>
<p>Try testing the product out with username me@jerry.me and password foobar! This is an admin account so you have special privileges such as deleting users (use your powers responsibly)
</p>